{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %} About {% endblock %}

{% block body_block %}
    <strong>This tutorial has been put together by Jorge Garcia and Jorge Gonzalez</strong> <br/>
    <div>
    <img src="{{ MEDIA_URL}}cat.jpg" alt="Picture of Cat" />
</div>

{% endblock %}