{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %} Add page {% endblock %}

{% block body_block %}

<div>
{% if category %}
    <h1>Add page to {{category.name}}</h1>

    <form id="page_form" method="post" action="{% url 'add_page' category.slug %}">

    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
        {{ field.errors }}
        {{ field.help_text }}
        {{ field }}
    {% endfor %}

    <input type="submit" name="submit" value="Add Page"/>
</form>

{% else %}
        A category by this name does not exist.
{% endif %}

</div>
{% endblock %}
