{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}{{ category.name }}{% endblock %}

{% block body_block %}
<div>
    {% if category %}
    <h1>{{ category.name }}</h1>

    <div>
        <strong id="like_count">{{ category.likes }}</strong> people like this category
    </div>
    <div id="pages">
    {% if pages %}
    <ul>
        {% for page in pages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>No pages currently in category.</strong>
    {% endif %}

    {% else %}
        The specified category {{ category.name }} does not exist!
    {% endif %}
        </div>

    <a href="{% url 'add_page' category.slug %}">Add a Page</a>
    </div>
{% endblock %}