{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title_block %} Index {% endblock %}

{% block body_block %}

<h1>Rango says...</h1>
<div>hey there partner! </div>

<div>
    <h2>Most liked categories:</h2>
    {% if categories %}
    <ul>
        {% for category in categories %}
        <li>
            <a href="{% url 'show_category' category.slug %}">{{ category.name }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>There are no categories present</strong>
    {% endif %}
</div>
<div>
    <h2>Most viewed pages:</h2>
    {% if pages %}
    <ul>
        {% for page in pages %}
        <li>
            <a href="{{ page.url }}">{{ page.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>There are no pages present.</strong>
    {% endif %}
</div>

    <img src="{%  static 'images/rango.jpg' %}"
         alt="Picture of Rango" />
</div>

{% endblock %}
